body, p {
    margin: unset;
}

h1 {
    margin: unset;
    font-size: unset;
    font-weight: unset;
}

a {
    color: unset;
    text-decoration: unset;
}

/* Layout */
.wrapper {
    width: 960;
    margin: 60px auto;
}

/* Design */
body {
    background-image: url(images/bg.png);
}

.header {
    padding: 60px 0;
}

.header .icon {
    background-color: black;
    color: white;
    width: 200px;
    height: 200px;
    display: inline-block; 
    text-align: center;
    line-height: 200px;
    border-radius: 50%;
}

.header .icon.logo {
    background-image: url('./images/logo.png');
    text-indent: -9999px;
}

.header .icon:hover { text-indent: -9999px; }

.header .icon.lemon:hover { background-image: url(images/lemon.png); }

.header .icon.orange:hover { background-image: url(images/orange.png); }

.header .icon.jamong:hover { background-image: url(images/jamong.png); }

.header .icon.lemon {  color: yellow; }

.header .icon.orange { color: orange; }

.header .icon.jamong { color: orangered; }

.contents {
    background-color: white;
    padding: 60px;
    border-radius: 60px;
}

.contents h1 {
    font-size: 40px;
    font-weight: bold;
    color: orangered;
    margin-bottom: 20px;
}

.contents h1 span{
    font-size: 0.5em;
    color: balck;
}


.footer { box-shadow: inset 0 0 20px gold; }